.classpath
.project
.settings/
target/
source/
spooned/
*.class
*.logs
*.iml
.idea/
.eclipse
SampleProcessor.java
script.sh
sorald-workspace/
FileOutputStrategyTest/
sonar-java/
.factorypath

spoon.classpath.tmp

# IntelliJ files
.idea

# Build files
target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Automation files
scripts/config.json

# JReleaser files
out/
jreleaser-cli.jar

# Python files
__pycache__
*.egg-info
.pytest_cache
