# Support workflows e.g. for generating documentation

name: support

on:
  push:
    branches: [ master ]

env:
  JAVA_DISTRIBUTION: 'adopt'

jobs:
  generate-achievements-handled_rules-md:
    if: ${{ github.repository == 'ASSERT-KTH/sorald' }} # don't accidentally run on forks :)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 2
      - uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4.9.1
        with:
          python-version: 3.14
      - name: Install support scripts
        run: |
          pip install --upgrade pip
          pip install -e experimentation/tools
      - name: Generate ACHIEVEMENTS.md and submit a PR if modified
        run: |
          SCRIPT_NAME=achievements
          GENERATED_FILE=docs/ACHIEVEMENTS.md
          python experimentation/tools/sorald/${SCRIPT_NAME}.py -p experimentation/prs.json -o ${GENERATED_FILE}

          ./.github/submit-pr.sh \
            --branch-prefix   ${SCRIPT_NAME} \
            --generated-file  ${GENERATED_FILE} \
            --gh-sha          ${{ github.sha }} \
            --gh-token        ${{ secrets.GITHUB_TOKEN }} \
            --gh-repository   ${{ github.repository }} \
            --gh-workflow     ${{ github.workflow }}
      - name: Generate HANDLED_RULES.md and submit a PR if modified
        run: |
          SCRIPT_NAME=handled_rules
          GENERATED_FILE=docs/HANDLED_RULES.md
          python experimentation/tools/sorald/${SCRIPT_NAME}.py -o ${GENERATED_FILE}

          ./.github/submit-pr.sh \
            --branch-prefix   ${SCRIPT_NAME} \
            --generated-file  ${GENERATED_FILE} \
            --gh-sha          ${{ github.sha }} \
            --gh-token        ${{ secrets.GITHUB_TOKEN }} \
            --gh-repository   ${{ github.repository }} \
            --gh-workflow     ${{ github.workflow }}

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 11
          java-package: jdk
          architecture: x64
          distribution: ${{ env.JAVA_DISTRIBUTION }}
      - name: Generate usage for the subcommands and submit a PR if modified
        run: |
          mvn clean compile dependency:build-classpath -Dmdep.outputFile=cp.txt
          (cd sorald && java -cp $(cat cp.txt):target/classes/ picocli.codegen.docgen.manpage.ManPageGenerator \
            --outdir=../docs/usage/ \
            sorald.cli.MineCommand \
            sorald.cli.RepairCommand)
          
          ./.github/submit-pr.sh \
            --branch-prefix   usage \
            --generated-file  docs/usage \
            --gh-sha          ${{ github.sha }} \
            --gh-token        ${{ secrets.GITHUB_TOKEN }} \
            --gh-repository   ${{ github.repository }} \
            --gh-workflow     ${{ github.workflow }}
